body {
  margin: 0;
  height: 100vh;
}

.dash-dropdown {
  display: inline-block;
  width: 400px;
  margin-right: 15px;
  margin-bottom: 15px;
}

#footer {
  margin-top: 25px;
  padding-bottom: 25px;
}

#graph-container {
  position: relative;
  margin-bottom: 25px;
  height: 500px;
}

#graph {
  height: 100%;
}

#county-graph-container {
  margin-top: 15px;
}

#county-graph-container:empty {
  margin-top: 0;
}

#county-info {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 15px;
  padding: 15px;
  width: 20%;
  max-height: calc(100% - 60px);
  overflow: scroll;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

@media (max-aspect-ratio: 3/2) {
  #county-info {
    width: 35%;
  }
}

@media (max-aspect-ratio: 1/1) {
  #county-info {
    position: relative;
    width: 100%;
    background-color: white;
    backdrop-filter: none;
    padding-left: 0;
    left: 0;
  }
}
