@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Montserrat:wght@700&display=swap');

body {
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 12px;
}

#subtitle {
  font-family: 'Catamaran', sans-serif;
  font-size: 18px;
  margin-bottom: 25px;
}

#footer {
  background-color: rgba(255, 255, 255, 0.5);
}
